@CHARSET "UTF-8";

body {
	font-family: "malgun gothic", simhei, Arial, Verdana, Helvetica,
		"LiHei Pro Medium", 微軟正黑體, sans-serif;
}

.navbar {
	background-color: #ffffff;
	margin-bottom: 0;
	border-radius: 0;
	height: 80px;
	box-shadow: 0px 2px 1px #bdbdbd;
}

.navshadow {
	box-shadow: 0px 2px 1px #bdbdbd;
}

.activebar>li>a {
	font-size: 22px;
	padding-top: 30px;
	padding-bottom: 0px;
	height: 80px;
}

.logina>li>a {
	padding-top: 2em;
	padding-bottom: 0px;
	height: 80px;
}

.backgroundpng {
	position: fixed;
	top: 0;
	z-index: -15;
}

.backgroundpng img {
	width: 115%;
	opacity: 0.9;
}

.form-control {
	height: 38.4px;
	border-radius: 0px;
}

/* 阿蓋我改過top */
.searchbar {
	position: absolute;
	top: 10em;
	
}

.search-filter {
	height: 38.4px;
	text-align: center;
	border: none;
	font-size: 20px;
}

.search-form-btn {
	color: #fff;
	background: #231f20;
	border: none;
	height: 38.4px;
	border-radius: 0 3px 3px 0;
	width: calc(60px);
}

.navbar-brand {
	z-index: 20;
}

.navbar-brand img {
	background-color: #FFF;
	border-radius: 15px;
	margin-left: 6em;
}

.tooltip-inner {
	font-size: 22px;
	background-color: #fff;
	border-radius: 0px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group
	{
	padding-top: 0.7em;
}

a:hover {
	text-decoration-line: none;
}

a:active {
	text-decoration-line: none;
}

a:visited {
	text-decoration-line: none;
}

.main {
	background-color: #E8E9E9;
}

footer {
	/* 	margin-top: 40em; */
	border: 1px solid gray;
	font-weight: 700;
	background-color: white;
	position: absolute;
	width: 100%;
	padding: 25px;
	padding-top: 4em;
}

.copyri {
	margin-top: 3em;
}

/* other */
.headpic {
	margin-top: 4em;
	border-radius: 99em;
	/*table-layout: fixed;
        word-wrap: break-word;*/
	width: 7em;
	height: 7em;
	overflow: hidden;
}

.headpic img {
	height: 7em;
	width: 7em;
}

.headbrand {
	margin-top: 5em;
	padding-bottom: 3em;
}

.sidebar {
	margin-top: 80px;
	/*padding-left: 6em;*/
	/*box-shadow: 1px 0px 1px gray;*/
	height: 50em;
	background-color: #337ab7;
}
/*.siderbarbox{
        padding-top: 4em;
    }*/
.maincontext {
	margin-top: 100px;
}

.paneltitle {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding: 15px 15px;
	/*border: 1px solid black;*/
}

.panel-title {
	font-size: 18px;
}

.panelbody {
	color: #fff;
	background-color: #337ab7;
}

.panelbody:hover {
	opacity: 0.8;
}

.titletext {
	width: 3em;
	margin-right: 3em;
}

.titlebrand {
	color: #fff;
}

.titlebrand:hover {
	color: #fff;
	text-decoration-line: none;
	/*opacity: 0.8;*/
	/*font-size: 20px;*/
}

.titlebrand:active {
	color: #fff;
	text-decoration-line: none;
}

.titlebrand:visited {
	color: #fff;
	text-decoration-line: none;
}

.navbrand {
	color: #F48500;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.paneltext {
	font-size: 6em;
}

.linka {
	position: absolute;
	left: 15em;
}

.panelboxtitle {
	margin-top: -1.2em;
}