<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>BA104G5_Ann</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- photo -->
	<servlet>
		<servlet-name>ShowImage</servlet-name>
		<servlet-class>com.tool.controller.ShowImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowImage</servlet-name>
		<url-pattern>/tool/showimage.do</url-pattern>
	</servlet-mapping>
	
	<!-- ann -->
	<servlet>
		<servlet-name>AnnServlet</servlet-name>
		<servlet-class>com.ann.controller.AnnServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnnServlet</servlet-name>
		<url-pattern>/back/ann/ann.do</url-pattern>
	</servlet-mapping>
	
	<!-- news -->
	<servlet>
		<servlet-name>NewsServlet</servlet-name>
		<servlet-class>com.news.controller.NewsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsServlet</servlet-name>
		<url-pattern>/back/news/news.do</url-pattern>
	</servlet-mapping>
	
	<!-- newstype -->
	<servlet>
		<servlet-name>NewsTypeServlet</servlet-name>
		<servlet-class>com.newstype.controller.NewsTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsTypeServlet</servlet-name>
		<url-pattern>/back/newstype/newstype.do</url-pattern>
	</servlet-mapping>
	
	<!-- realtor -->
	<servlet>
		<servlet-name>RealtorServlet</servlet-name>
		<servlet-class>com.realtor.controller.RealtorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RealtorServlet</servlet-name>
		<url-pattern>/front/realtor/realtor.do</url-pattern>
	</servlet-mapping>
	
	<!-- realtorLogout -->
	<servlet>
		<servlet-name>RealtorLogout</servlet-name>
		<servlet-class>com.realtor.controller.RealtorLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RealtorLogout</servlet-name>
		<url-pattern>/front/realtor/realtorlogout.do</url-pattern>
	</servlet-mapping>
	
	<!-- realtorChange -->
	<servlet>
		<servlet-name>RealtorChange</servlet-name>
		<servlet-class>com.realtor.controller.RealtorChange</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RealtorChange</servlet-name>
		<url-pattern>/front/realtor/realtorchange.do</url-pattern>
	</servlet-mapping>
	
	<!-- realestate -->
	<servlet>
		<servlet-name>RealEstateServlet</servlet-name>
		<servlet-class>com.realestate.controller.RealEstateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RealEstateServlet</servlet-name>
		<url-pattern>/front/realestate/realestate.do</url-pattern>
	</servlet-mapping>
	
	<!-- promo -->
	<servlet>
		<servlet-name>PromoServlet</servlet-name>
		<servlet-class>com.promo.controller.PromoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PromoServlet</servlet-name>
		<url-pattern>/back/promo/promo.do</url-pattern>
	</servlet-mapping>
	
	<!-- checkmail -->
	<servlet>
		<servlet-name>CheckMailServlet</servlet-name>
		<servlet-class>com.checkmail.controller.CheckMailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckMailServlet</servlet-name>
		<url-pattern>/back/checkmail/checkmail.do</url-pattern>
	</servlet-mapping>
</web-app>